@media (min-width: 320px) and (max-width: 767px) {
  header {
    width: 100%;
  }
  .nav_menu {
    display: flex;
    margin-left: 0px;
    flex-direction: column;
    background-color: #bcbcbc32;
  }

  .right_side {
    order: 1;
    justify-content: space-between;
    width: 100%;
   
  }


  .nav_menu ul {
    gap: 6px;
    order: 2;
    text-align: center;
    margin: 0 auto;
}



.nav_menu .right_side ul {
    gap: 35px;
    order: 2;
}



















  .nav_menu ul {
    gap: 6px;
    order: 2;
  }
  #banner {
    margin-top: 0px;
  }

  .banner_wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0px;
    width: 100%;
  }
  #banner .right_bananer img {
    width: 100%;
  }
  .banner_wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0px;
    flex-direction: column;
  }

  .left_bananer {
    width: 100%;
    order: 2;
  }

  .left_bananer h2 {
    width: auto;
    font-size: 46px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 4px;
    color: #292019;
    font-family: habibi;
    margin-bottom: 42px;
    text-align: center;
  }

  .left_bananer p {
    width: auto;
    font-family: habibi;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: justify;
  }
  #banner .banner_wrapper .left_bananer .buttons {
    display: flex;
    gap: 33px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .claients .claients_wrapper ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
  }

  .claients h3 {
    font-size: 36px;
    font-family: gupter;
    font-weight: 700;
    line-height: auto;
    text-align: center;
    margin-bottom: 0px;
  }
  .house_products {
    width: 100%;
  }

  .products_bg {
    width: 100%;

}

.products_bg .products_wrapper {

    width: 100%;
    flex-direction: column;
}
.products_bg .products_wrapper .left_products {
    width: 100%;

}
.products_bg .products_wrapper .right_products {
    width: 100%;

}

.products_bg .products_wrapper .right_products img {
    margin-right: 0px;
    width: 51%;
   
}
.models .model_images {
    display: flex;
    margin-top: 54px;
    margin-left: 0px;
    flex-direction: column;
}

.products_head {
    width: 100%;
   margin-bottom: 40px;
  
  
}
.products_head .sells {

    flex-direction: column;
    width: 100%;
}

.products_head .sells .left_sells {
    width: 100%;
}
.products_head .sells .right_sells {
    width: 100%;
}
.products_head .sells .right_sells ul {
    display: flex;
    gap: 20px;
}

.products_gallery {
    position: relative;
    width: 100%;
}
.products_gallery .boxes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    padding: 28px 0;
    width: 100%;
    flex-direction: column;
}

.products_gallery .boxes .box {
    position: relative;
    margin-bottom: 300px;
}

.products_gallery .boxes .box .price_bg {
    width: 100%;
    background-color: rgba(196, 165, 134, 63%);
    position: relative;
    text-align: center;
    padding-bottom: 160px;
}

.customer_say {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.customer_say .left_side {
    width: 100%;
}
.customer_say .left_side img {
    width: 100%;
}
.customer_say .right_side {
    width: 100%;
}
.customer_say .right_side h2 {
    width: 100%;
    font-size: 40px;
    font-weight: 400;
    line-height: auto;
    margin-bottom: 34px;
}
.customer_say .right_side p {
    width: 100%;
    margin-bottom: 100px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 2px;
}


.customer_say .right_side .customer_rating {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 0px;
}
.models .model_images {
    display: flex;
    margin-top: 54px;
    margin-left: 0px;
   
}
.footer {

    flex-direction: column;
}
.footer .left_side .business_email {

    font-size: 11px;
 
    width: 100%;

}
.footer .left_side
{
    text-align: center;
    margin-bottom: 100px;
    
}

.footer .right_side {
    width: 100%;
  

}
.footer .right_side .left-side {
    position: relative;
    order: 1;
    width: 100%;
}
.footer .right_side {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    flex-direction: column;
    gap: 130px;
}
.footer .right_side .left-side .watch_videos {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 0;
}
.footer_nav .icons {
    display: flex;
    gap: 10px;
    color: #B99272;
    /* flex-direction: column; */
}


.footer_nav{
background-color: #bcbcbc32;
}

.copyright
{
    background-color: #bcbcbc32;
}













}
